@charset "UTF-8";
@import 'reset';
@import 'fonts';
@import 'forms-buttons-etc';
@import 'utils';

// background image
@mixin bg-img-triang-light {
    background-image:
        url("../_includes/images/poster-uea-bgd.svg");
    //background-position: center;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* cover the entire container */
    //background-blend-mode: overlay; // overlay, lighten;
}

@mixin clapper-top($thinckness) { 
  border: $thinckness solid $blk; 
  border-image: repeating-linear-gradient( 45deg, #eee2ca, #eee2ca 1%, $blk 1%, $blk 8%) 10;
  border-style: solid hidden hidden hidden;
  //padding-top: 0.5vw;
  //margin-bottom: 4vw; 
  //margin-left: 4vw; 
}

$blk: hsla(0,0%,0%,83%);

body {
  font-family: 'IBM Plex Serif', serif;
  color: $blk;
  font-size: 2.2;
  line-height: 1.4;
  max-width: 800px;
  margin: 20px auto;
  padding: 0 10px;
  background: #eee2ca;
  @include bg-img-triang-light;
  text-rendering: optimizeLegibility;

  display: grid;
  //margin-left: 30vw;
  height: 100vh;
  //width: 42vw;

  // 12 rows, 5 columns
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1vw;

}

header {
    grid-row:  1;
    grid-column: 6 / 7;
    //z-index: 1;
}

div.title {
  grid-row: 2;
  grid-column: 2 / 6;
  @include mobile { 
    grid-column: 1 / 7; 
    margin-left: 3vw; 
  }
  padding-bottom: 8vw;
}

div.question {
  grid-row: 5;
  grid-column: 2 / 6;
  @include mobile { grid-column: 1 / 7; }
  @include tablet { grid-row: 3 / 5; }
  font-weight: 700;
  //padding: 1vw 2vw 4vw 2vw;
}

div.description {
  grid-row: 7;
  grid-column: 2 / 6;
  @include mobile { grid-column: 1 / 7; }
  @include tablet { grid-row: 6 / 8; }
  font-weight: 700;
}

div.cta {
  grid-row: 9;
  grid-column: 2 / 6;
  @include mobile { grid-column: 1 / 7; }
  @include tablet { 
    grid-row: 9 / 11;
  }
  font-weight: 700;
}


div.info-item {
  @include clapper-top(2vw);
  padding-top: 0.2vw;
  margin-bottom: 2vw;  
  @include mobile { 
    @include clapper-top(4vw);
    padding-top: 0.5vw;
    margin-bottom: 4vw; 
    margin-left: 3vw; 
  }
  @include tablet { 
    @include clapper-top(3vw);
    //padding-top: 0.5vw;
    //margin-bottom: 4vw; 
    //margin-left: 4vw; 
  }


}

div.info-item > p {
  border: 0.4vw solid $blk;
  padding: 2vw 3vw;
  font-size: 1.6vw;
  line-height: 2.6vw;
  @include tablet { 
    font-size: 2vw;
    line-height: 3vw; 
    padding: 3vw 4vw;
  }
  @include mobile { 
    font-size: 4vw; 
    line-height: 5.9vw;
    padding: 3vw 4vw;
  }
}

div.cta > p {
  background-color: hsla(0,0%,0%,83%);
  color: #eee2ca;
  a { color: #eee2ca;}
}



img[src$="camera.svg"] {
    grid-row:  1;
    grid-column: 1 / 2;
    height: 5vw;
    @include mobile { height: 10vw; }
    @include tablet { height: 8vw; }
}

img[src$="uea-logo.svg"] {
    grid-row:  12;
    grid-column: 2 / 3;
    width: 6vw;
    margin-top: auto;
    @include mobile { width: 10vw; }
    @include tablet { width: 10vw; }
}

img[src$="ziggurats-group.svg"] {
    grid-row:  12;
    grid-column: 3 / 4;
    width: 10vw;
    padding-bottom: 10px;
    margin-top: auto;
    @include mobile { 
      width: 12vw; 
      padding-bottom: 6px;
    }
    @include tablet { width: 12vw; }
}


img[src$="microphone.svg"] {
    grid-row:  12;
    grid-column: -4 / -3;
    height: 3vw;
    padding-left: 2vw;
    padding-bottom: 10px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    @include mobile { 
      height: 6.4vw; 
      padding-bottom: 6px;
      padding-left: 18px;
    }
    @include tablet { height: 4.4vw; }
}

img[src$="clapper-board.svg"] {
    grid-row:  12;
    grid-column: -3 / -2;
    height: 3vw;
    padding-left: 2vw;
    padding-bottom: 10px;
    margin-top: auto;
    @include mobile { 
      height: 6.4vw; 
      padding-bottom: 6px;
    }
    @include tablet { height: 4vw; }
}

// Registration form

#registration-form {
  grid-row: 2 / 12;
  grid-column: 2 / 6;
  padding-bottom: 10vw;
  @include mobile { 
    grid-column: 1 / 6;
    padding-left: 10vw;
  }
}

form div.form-entry {
  margin: 2vw;
  margin-left: 0;
   > label, legend { font-weight: 600; }
}

// Gallery

img.camera-detail {
  grid-row: 1;
  grid-column: 1 / 6;
}

h1.gallery-title {
  grid-row: 2;
  grid-column: 1 / 6;
  @include tablet {
    margin-left: 10vw;
  }
  @include mobile {
    margin-left: 10vw;
  }
}

article.gallery {
  grid-row: 3 / -1 ;
  grid-column: 1 / -1;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(min-content, max-content);

  figure[class^="image-block-"] {
    width: 20vw;
    padding-top: 3px;
    @include clapper-top(2vw);
  }

  @include tablet {
    margin-left: 10vw;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(min-content, max-content);

    figure[class^="image-block-"] {
      width:35vw;
      @include clapper-top(3vw);
    }

  }

  @include mobile {
    margin-left: 10vw;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(min-content, max-content);

    figure[class^="image-block-"] {
      width:70vw;
      @include clapper-top(5vw);
    }

  }

}

// Contact page

article#contact {
  grid-row: 2 / 12;
  grid-column: 2 / 6;
  @include mobile {
    grid-column: 1 / -1;
  }
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 12px;
}

// Main Headings

h1 {
  font-size: 3.2vw;
  line-height: 3.6vw;
  @include mobile {
    font-size: 8vw;
    line-height: 9vw;
    margin-top: 4vw;
  }
  @include tablet {
    font-size: 3.4vw;
  }
}

h2 {
  font-size: 2.0vw;
  font-weight: 300;
  background-color: $blk;
  padding: 6px;
  color: #eee2ca;
  @include mobile {
    font-size: 6vw;
  }
}

// Nav

nav.header-nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-end;
    li {
        padding-left: 0.4rem;
        padding-right: 0.4rem;
    }
    @include mobile {
      font-size: 4vw;
    }

}

// Links

a[href^='mailto']::before {
  content: '📧 ';
}

a[href^='tel']::before {
  content: '📞 ';
}

a[href^='sms']::before {
  content: '💬 ';
}


a {
  //text-decoration: none;
  font-weight: 700;
  //color: #083252;
  color: black;
}

a:hover {
  text-decoration: underline;
}

code, kbd {
  background: #161f27;
  color: #ffbe85;
  padding: 5px;
  border-radius: 6px;
  font-family: 'Source Code Pro', monospace;
}

pre > code {
  padding: 10px;
  display: block;
  overflow-x: auto;
}

img {
  max-width: 100%;
}

hr {
  border: none;
  border-top: 1px solid #dbdbdb;
}
