---
layout: layouts/base.html
---

<div class="title">
<h1 class="title">{{ title }}</h1>
<h2 class="subtitle">University of East Anglia<h2>
</div>

<div class="question info-item">
<p>
Are you thinking about a career in journalism?
Did you know we have a
MA Broadcast and Digital Journalism
Degree at UEA?
</p>
</div>

{% set img = images.images[1] %}

<figure class="front-image">
   <img src="{{ img.localUrl }}" alt="{{ img.title }}" />
   <figcaption>
      For more see our <a href="./gallery/">gallery</a>
   </figcaption>
</figure>


<div class="description info-item">
<p>
You’ll be trained by experienced professional journalists who will help you to kick start your career in the media.
</p>
</div>

<div class="cta info-item">
<p>
Join us at Broadcast House in central Norwich to find out more and get some hands-on practice in our TV and radio studios on Weds 4th May from 2-4pm.
To sign up, please fill in our <a href="/form">registration form</a>.
</p>
</div>


<img src="./_includes/images/clapper-board.svg" alt="clapper board picture" />
<img src="./_includes/images/camera.svg" alt="camera picture" />
<img src="./_includes/images/microphone.svg" alt="microphone picture" />
<img src="./_includes/images/ziggurats-group.svg" alt="ziggurats picture" />
<img src="./_includes/images/uea-logo.svg" alt="uea logo" />

<article>
  {{ content | safe }}
</article>